body {
    font-family: 'Playfair Display', serif;
    background-color: #3c3c3c;
}

h1 {
    font-size: 82px !important;
}

@media only screen and (max-width: 601px) {
    .footerNav {
        margin-top: 10px !important;
        height: auto !important;
    }

    .footer {
        height: auto !important;
        height: 500px;
    }

    #smallTitle {
        font-size: 64px !important;
    }
}

a:hover {
    transition-duration: .2s;
    color: #dc3545 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.titleFont {
    font-family: 'Cinzel', serif;
}

.row {
    animation-delay: 2s !important;
    animation: fadeIn 2s !important;
}

.container {
    height: 100vh;
    width: 100vw;
}

.coverImage {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover;
    overflow: hidden;
    /* z-index: 1; */
    position: absolute;
}

.boxShadow {
    background-color: rgba(0,0,0,.6);
    height: 100vh;
    width: 100vw;
    /* z-index: 2; */
    position: absolute;
}

.name {
    /* z-index: 2; */
    position: absolute;
    width: 100vw;
    color: white;
    margin-top: 22vh;
    padding-right: 0px !important;
    /* text-shadow: 1px 2px 5px #FFFFFF; */
}

.nav {
    height: 100px;
}

.nav ul {
    margin-top: 42px;
}

.nav a {
    color: white;
    font-size: 18px;
}

.nav a:hover {
    transition-duration: .5s;
    text-shadow: 0px 0px 2px black;
}

.credit {
    color: white;
    margin-top: 20vh;
    position: absolute;
    bottom: 25px;
}

.credit h6 {
    font-size: 13px;
}

.credit a {
    color: #dc3545;
    font-size: 14px;
}

.credit a:hover {
    font-size: 15px;
    transition-duration: .5s;
    text-shadow: 1px 1px 2px black;
}

.footer {
    background-color: #3c3c3c;
    color: white;
    padding-top: 10px;
    margin-bottom: 0px;
}

.footer h6 {
    margin-top: 50px;
}

.footerNav {
    margin-top: 20px !important;
    margin-bottom: 50px;
}

.sidenav-trigger {
    margin-top: 200px;
}

.sidenav {
    background-color: #A0816C;
    margin-top: 0px !important;
    padding-top: 10px;
}

.sidenav li a {
    color: White;
}

.sidenav li a:hover {
    color: #dc3545
}

.sidenav-overlay {
    background-color: rgba(0,0,0,.2)
}

.icon {
    position: absolute !important;
    bottom: 10px;
}

