body {
    background-color: #A0816C;
    color: white;
}

.contentContainer {
    padding-bottom: 50px !important;
}

.collapsible {
    border: none !important;
    margin-bottom: 90px !important;
}

.collapsible li {
    border-bottom: solid 2px #3c3c3c3a;
}

.collapsible div {
    background-color: transparent !important;
    border: none;
    margin-bottom: 10px;
}

.collapsible-body {
    padding-top: 0px;
    /* padding-bottom: 50px; */
}

.collapsible-body h5 {
    font-size: 20px;
}

.collapsible-body a {
    color: white;
}

.collapsible-body a:hover {
    transition-duration: .5s;
    font-size: 18px;
}

.collapsible-body img {
    height: 100px;
}

